<h1>Goodbye from Rails..</h1>

<p>
  It was nice having you here.  Perhaps you may come back in an hour?  It's now <%= @time %>...
  so maybe later at  <%= @time_later %>?
</p>

<p>
  Time to say <%= link_to 'Hello', say_hello_path %>
</p>
